.header {
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: white;
    padding-left: 1em;
    height: 4em;
}

.search-bar {
    height: 2em;
    width: 20em;
}

.login-text {
    color: white;
    font-weight: bold;
    padding-right: 2em;
}

.user-icon {
    height: 1em;
}